<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      New meter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input></ion-input>
<div class="circle-container">
  <div class="number">test</div>
</div>
<ion-button> <ion-icon name="remove" class="remove-count-btn"></ion-icon></ion-button>
<ion-button> <ion-icon name="add" class="add-count-btn"></ion-icon></ion-button>
<ion-button> <ion-icon name="checkmark" class="validate-count-btn"></ion-icon></ion-button>
</ion-content>
