<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="fullscreen">
    <div class="cust-container">
      <h1>How Much ?</h1>
      <p>But how much of what ? What you want, when you want, as simple as a click</p>
      <ion-button href="/count" class="cust-btn" color="secondary"> Let's start ! </ion-button>
   </div>
  </div>
</ion-content>


 
