<!-- Add the menu to this page and a title -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- custom container in global.scss to align in the center of the page -->
  <div class="fullscreen">
    <div class="cust-container">
      <div class="settings-parameters">
        <ion-img src="assets/icon/circle-icon-gear.png" class="gear"></ion-img>
        <ion-button (click)="localStorageDeleteAlert('localStorageClear')" color="secondary"> Clear localStorage </ion-button>
      </div>
    </div>
  </div>
</ion-content>
